.rating-input .filled {
    color: rgba(249, 167, 70, 1);
}

.rating-input .empty {
    color: rgba(217, 217, 217, 1);

}

.rating-input {
    display: flex;
    margin-right: 4px;
  }

.no-border {
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: red;
}

.no-border:hover {
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: red;
    text-decoration: underline;
}
