.recipe-card {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 550px;
    width: 400px;
    margin: 10px;
    float: left;
    text-decoration: inherit;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: gray;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.138), 0 3px 20px 0 rgba(0, 0, 0, 0.1);
}

.recipe-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fa-clock {
    font-size: 20px;
}

.fa-plus {
    font-size: 22px;
    color: rgba(147, 147, 147, 1)
}
.fa-plus:hover {
    font-size: 20px;
    color:rgba(194, 194, 194, 0.859);
}

.recipe-type {
    margin: 5px 5px;
}

.recipe-name {
    margin: 10px 10px;
}

.recipe-time {
    margin: 10px 10px;
}
