.ingredient-page {
    width: 90%;
    margin: auto;
    padding-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

.ingredient-title {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.ingredient-circle {
    color: white;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 20px;
}

.fruit {
    background-color: #C63631;
}
.vegetable {
    background-color: #81B353;
}
.protein {
    background-color: #5B498F;
}
.grains {
    background-color: #D6783A;
}
.dairy {
    background-color: #4F82C0;
}

.ingredient-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height:auto;
    margin-left: 60px;
}

.ingredients {
    width: 150px;
    border-top: gray 2px solid;
    margin-right: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    min-width: 150px;
}

.ingredients:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
    transform: translateY(-1px);
}

.ingredient-name {
    background-color: transparent;
    font-size: 16px;
    border: none;
    text-align: left;
}
