.profile-dropdown {
  position: absolute;
  background-color: rgb(249, 249, 249);
  display: block;
  right:0px;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  border: rgb(240, 243, 243) 0.5px solid;
}

.hidden {
  display: none;
}

*{
  margin:0; padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  position: fixed;
  top:0; left:0; right:0;
  background-color: white;
  height: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
  padding-left: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.nav-bar {
  display: flex;
  position: relative;
  float:left;
  justify-content: center;
  align-items: center;
}


.nav-bar div {
  font-size: 16px;
  padding: 20px;
  justify-content: baseline;
}

.nav-title:hover {
  text-decoration: underline;

}


.nav-bar p {
  font-size: 14px;
  padding: 10px;
  justify-content: baseline;
}

.dropbtn {
  border: none;
  font-size: 25px;
  background-color: transparent;
}

.profile-dropdown button {
  width: 100px;
  height: 30px;
  background-color: white;
  border-radius: 10px;
  border: lightgray 1px solid;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-top: rgb(255, 54, 54) 1px solid;
  color: rgb(255, 54, 54);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  z-index: 1000;
  padding-left: 40px;
  justify-content: space-between;
}

.fa-github {
  font-size: 20px;
  margin-right: 10px;
  color: rgb(255, 54, 54);
}

.fa-linkedin-in {
  font-size: 20px;
  margin-right: 10px;
  color: rgb(255, 54, 54);
}

.footer div {
  font-size: 12px;
  margin-top: 4px;
}

.footer p {
  font-size: 10px;
  margin-right: 20px;
}
