.create-buttons {
    background-color: #ffffff;
    color: rgb(105, 105, 105);
    border: none;
    font-size: 14px;
    height: 36px;
    margin-right: 20px;
    border-radius: 5px;
    padding: 0 10px 0 10px;
    transition: background 0.8s;
    cursor: pointer;
    background-position: center;
    box-shadow: 0 0 4px #999;
}

.create-buttons:hover {
    background: #8e8e8e radial-gradient(circle, transparent 1%, #8e8e8e 1%) center/15000%;
    color: white
}

.create-buttons:active {
    background-color: #aaa9a9;
    background-size: 100%;
    transition: background 0s;
}

.create-button {
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    padding-top: 80px;
}

.confrim-buttons {
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 14px;
    height: 36px;
    margin-right: 20px;
    border-radius: 5px;
    padding: 0 10px 0 10px;
    transition: background 0.8s;
    cursor: pointer;
    background-position: center;
    box-shadow: 0 0 4px #999;
}

.confrim-buttons:hover {
    background: #605f5f radial-gradient(circle, transparent 1%, #8e8e8e 1%) center/15000%;
    color: white
}

.confrim-buttons:active {
    background-color: #aaa9a9;
    background-size: 100%;
    transition: background 0s;
}

.confrim-button {
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    padding-top: 80px;
}
